@import "tailwindcss";

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
  background: none;
}
@font-face {
  font-family: 'Actay';
  src: url('/public/Assets/Fonts/Actay-Regular.otf') 
}
@font-face {
  font-family: 'ActayCondensed';
  src: url('/public/Assets/Fonts/ActayCondensed-ThinItalic.otf') 
}
@font-face {
  font-family: 'ppneuemontreal';
  src: url('/public/Assets/Fonts/ppneuemontreal-bold.otf') 
}

@font-face {
  font-family: 'MarvinVisions';
  src: url('/public/Assets/Fonts/MarvinVisions-Bold.otf') 
}

@font-face {
  font-family: 'Quasar';
  src: url('/public/Assets/Fonts/Quasar.otf') 
}
@font-face {
  font-family: 'sigana';
  src: url('/public/Assets/Fonts/sigana-condensed.otf') 
}
@font-face {
  font-family: 'impact';
  src: url('/public/Assets/Fonts/impact.ttf') 
}

@font-face {
  font-family: 'Stadium';
  src: url('/public/Assets/Fonts/Stadium.ttf') 
}
@font-face {
  font-family: 'ThatAppeal';
  src: url('/public/Assets/Fonts/ThatAppeal-FreeDemo-BF65b7880fefd18.otf') 
}
@font-face {
  font-family: 'TypeMonster';
  src: url('/public/Assets/Fonts/TypeMonster-FreeDemo-BF65d7910e35896.otf') 
}
@font-face {
  font-family: 'Morganite';
  src: url('/public/Assets/Fonts/Morganite-Black.ttf') 
}

@font-face {
  font-family: 'Impacted';
  src: url('/public/Assets/Fonts/Impacted.ttf') 
}
@font-face {
  font-family: 'rejouice';
  src: url('/public/Assets/Fonts/rejoucie.ttf') 
}

@font-face {
  font-family: 'gunplay';
  src: url('/public/Assets/Fonts/gunplay.ttf') 
}

@font-face {
  font-family: 'Akrobat';
  src: url('/public/Assets/Fonts/Akrobat.ttf') 
}

@font-face {
  font-family: 'GeoplaceSC';
  src: url('/public/Assets/Fonts/GeoplaceSC-Bold.ttf') 
}


@font-face {
  font-family: 'FaqroExtendedWideTrial';
  src: url('/public/Assets/Fonts/FaqroExtendedWideTrial-Regular.ttf') 
}
::selection{
  background-color: black;
  color: white;
}
.Loader {
  height: 100vh;
  width: 100%;
  position: fixed;  
  top: 0;  
  left: 0; 
  z-index: 9990999;  
  background-color: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Loader h1{
font-size: 4vw;
text-transform: uppercase;
color: white;
font-family: FaqroExtendedWideTrial;
text-align: center;
  
}
body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    background-color: whitesmoke;
}
html{
  scroll-behavior: smooth;
}
.smooth-scroll {
  scroll-behavior: smooth;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar {
  height:9vh;
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0; 
  left: 50%; 
  transform: translateX(-50%);
  z-index: 99999;
  margin-top: 1vw;
  border-radius: 30vw;

  

}


 .bottom {
  background-color: #f7f4f3;
  height: 100%;
  border-radius: 3vw;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gilroy', sans-serif; 
  gap: 2.2vw;
  padding: 0.6vw 2vw;
  box-shadow: 1px 1px 14px rgba(29, 28, 28, 0.5); 
}

.bottom h2 {
  font-size: 1.2vw;
  font-weight: 500;
  color: #262525;
  position: relative;  
  padding-bottom: 5px;
}

.end{
  height: 100%;
  width: 20vw;
  display: flex;
  align-items: right  ;
  justify-content: flex-end;
}

.btn {
  position: relative;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 300;
  color: white;
  background-color: #181818;
  font-family: actay;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}

.glitch {
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
}

.glitch:hover {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-4px, 4px);
  }
  40% {
    transform: translate(-4px, -4px);
  }
  60% {
    transform: translate(4px, 4px);
  }
  80% {
    transform: translate(4px, -4px);
  }
  100% {
    transform: translate(0);
  }
}

.bottom h2::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: 0;  
  background-color: #ee8d2c;
  transition: width 0.3s ease-in-out; /* Smooth animation */
}

.bottom h2:hover::after {
  width: 100%;
}



.Home{
  width: 100%;
  margin-top: 8vw;
  position: relative;
  overflow: hidden;
  position: relative;
   
  }
.Homeicon{
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 999999999;
  display: flex;
  align-items:center;
  justify-content: space-between;
}


.Homeicons{
  height: 80vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;

}

.Homeicons img{
  height: 35vh;
}
.Fronttext{
  height: 15vh;
  width: 60%;
  margin: 6vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.Fronttext h1{
  font-family: ActayCondensed;
  font-weight: 500;
  font-size: 3vw;
  padding: 0.3VW 0;

}

.Fronttext h4{
  font-family: ActayCondensed;
  font-size: 1.6vw;
  font-weight: 500;
  color: rgb(33, 32, 32);



}

.Marquee {
  height: 45vh;
  width: 100%;
  margin: 8vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  gap: 3vw;
  padding: 2vw 0;

}

.track {
  display: flex;
  width: 200%;
  position: absolute;
}

.content {
  display: inline-block;
  padding-right: 3vw; 
  white-space: nowrap;
}

.Marquee h1 {
  font-family: Akrobat , sans-serif;
  font-weight: 500;
  font-size: 15.5vw;
  text-transform: uppercase;
  color: #343333;
 
}

.imageupper {
  height: 35vh;
  position: absolute;
  z-index: 9999;
  border-radius: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  backdrop-filter: blur(8px); 
  box-shadow:  0 2px 4px rgba(0, 0, 0, 0.2),
  0 6px 10px rgba(0, 0, 0, 0.15),
  0 10px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
 
}


.imageupper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.Client{
  height: 10vh;
  width: 40%;
  margin: 1vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.selectives{
  gap: 0.2vw;
  display: flex;
  align-items: center;
  
}


.selectives img{
  height: 6vh;
}
.selectives h2{
 font-family: Actay;
 font-weight: 500;
 font-size: 1.6vw;
 margin-left: 0.6vw;
 color: #242627;
}

.Button{
  height: 10vh;
  width: 40%;
  margin: 3vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 3vw;
  
}

button{
  border: none;
  padding: 1.5vw 3vw;
  background-color:#242627;
  color: white;
  font-family: Actay;
  border-radius: 3vw;
  font-size: 1vw;
  cursor: pointer;
}




.Aboutus{
  width: 100%;
  margin-top: 2vw;
}

.Aboutme{
    margin: 0 auto;
  width: 75%;
}

.Aboutme h2{
 font-family: actay;
 font-weight: 500;
 font-size: 3vw;
 margin: 4vw 0;
 color: #242627;

}

.Aboutme h4{
  font-family: Actay;
  font-weight: 500;
  font-size: 1.6vw;
  text-align: center;
  color: #242627;

 }

 .AboutClient{
  margin: 0 auto;
  margin-top: 10vw;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }

 .AboutClients{

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
 }
 .AboutClient h4{

 font-family: Actay;
 margin: 1vw 0;
 font-size: 2vw;
 font-weight: 500;
 color: #242627;

 }
 
 .AboutClients img{

  height: 15vh;
  margin: 1vw 0;

 }

 .AboutClients h3{
  font-family: Actay;
  font-size: 2vw;
  font-weight: 500;
  color: #242627;



  
 }

 .AboutClients h5{
  
  font-family: ActayCondensed;
  font-size: 2vw;
  font-weight: 500;
  margin: 1vw 0;
  color: #242627;



  
 } .AboutClients h6{
  
  font-family: Actay;
  font-size: 1.5vw;
  text-align: center;
  font-weight: 500;
  margin: 2vw 0;
  padding: 0 3vw;
  color: #242627;



  
 }
 
 .Impactfulldesign {
  width: 100%;
  margin-top: 19vh;
  padding: 1vw;
  text-align: center;
  line-height: 21vw;
  text-transform: uppercase;
  position: relative;
  color: #1e1e1f;

}

.mans {
  height: 93vh;
  width: 50%;
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.mans img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  animation: moveImage 4s ease-in-out infinite; /* Keyframe animation */
}

@keyframes moveImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2%); 
  }
  100% {
    transform: translateY(0); 
  }
}




.text-content h2,
.text-content h1 {
    font-size: 28vw;
    font-family: Morganite;
  
   
}
.myskills{
  margin-top: 20vh;
  width: 100%;
  padding: 1vw 3vw;
}

.myskills h1{
  font-family: actay;
  font-weight: 500;
  font-size: 3vw;
  text-align: center;
  color: #242627;

  

}
.myskills {
  text-align: center;
}

.skills {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  gap: 3.5vw; 
  padding: 2vh;
  height: 30vh;
  width: 70%;
  margin: 0 auto;
  margin-top: 1vw;
}

.skill-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13vh;
cursor: pointer;
  border-radius: 10vw;
}

.skill-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2vw;
}



.Ourservices{
  width: 100%;
  margin-top: 16vh;


}

.Ourservices h1{
  font-family: actay;
  font-weight: 500;
  font-size: 3vw;
  text-align: center;
  color: #242627;


}

.Designs{
  width: 100%;
  height: 100%;
  padding: 2vw 2vw;
}


.Designs h3{
  font-family: actay;
  font-weight: 500;
  font-size: 3vw;
  color: #242627;

}

.Designs ul{
 padding: 1vw 2vw;
 font-family: Actay;
 margin: 1.7vw 0;
 font-size: 1.7vw;
 color: rgb(25, 24, 24);

}
.Designs li{
 padding: 1.1vw 1vw;
}

.project{
  width: 100%;
  margin-top: 5vh;
  padding: 2vw 2vw;
}

.WorkCollection{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2vw;
}

.WorkCollection h2{
  font-family: actay;
  font-weight: 500;
  font-size: 3vw;
  text-align: center;
  margin: 3vw 0;
  color: #242627;


}

.WorkCollection h5{
  font-family: Actay;
  font-weight: 500;
  font-size: 1.7vw;
  text-align: center;
  color: #242627;

}

.Card {
  width: 100%;
  padding: 3vw;
  display: flex;
  justify-content: center;
  cursor: pointer;
  


}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 2vw; 
  width: 90%;
  padding: 2vw 2vw;
}



.image {
  width:90%;
  height: 53vh;
  margin: 3vw auto;
  overflow: hidden;
  border-radius: 10px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cards h4 {
  font-family: Actay;
  font-size: 1.5vw;
  font-weight: 500;
  text-align: center;
  margin-top: 1vw;
  padding: 0 3vw;
}




.Certified{
margin-top: 10vh;
width: 100%;
}

.CertifiedCard h2{
  font-family: Quasar;
  font-weight: 500;
  font-size: 4.5vw;
  text-align: center;

}


.CertifiedCard {
  width: 100%;
  padding: 2vw;
  display: flex;
  flex-direction: column; /* ✅ Text ko upar rakhne ke liye */
  align-items: center;
  justify-content: center;
  margin: 4vw 0;
  margin-bottom: 8vw;
}

.CertifiedCard h2 {
  text-align: center;
  font-size: 2.5vw;
  font-family: rejouice ;
  margin-bottom: 5vw;
  color: #242627;

}

.Certifiedcards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Certifiedcardsimage {
  width:100%;
  height: 70vh;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
}

.Certifiedcardsimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.CertifiedCard h4 {
  font-family: "Actay", sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
  text-align: center;
  margin-top: 1vw;
  padding: 0 3vw;
  color: #242627;
}

/* FAQ Container */
.faqs-container {
  max-width: 100%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Title */
.faq-title {
  font-weight: 500;
  text-align: center;
  color: #333;
  margin-bottom: 7vh;
  font-family:rejouice ;
  text-transform: uppercase;
  font-size: 2.6vw;
  color: #242627;

  
}

/* FAQ Items */
.faq-item {
  background: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-family: Actay;
  font-weight: 500;
}


/* Question Section */
.faq-question {
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
  font-family: Actay;
  font-weight: 500;
  color: #242627;

}

/* Answer Section */
.faq-answer {
  font-size: 1.3vw;
  color: rgb(52, 50, 50);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.faq-item.open .faq-answer {
  max-height: 100px;
  margin-top: 10px;
}

/* Plus & Minus Icon */
.faq-icon {
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

.faq-item.open .faq-icon {
  transform: rotate(180deg);
}

.video-thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;

}

.cursor {
  height: 2.5vh;
  width: 1.2vw;
  background-color: #38393a; /* Default color for the cursor */
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  transition: 0.2s;
}



.Checkmates{
  height: 155vh;
  width: 100%;

}

.back{
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.back h4{
 font-family: Impact;
 text-transform: uppercase;
 font-size: 8vw;
 line-height: 7.8vw;
 text-align: center;
 color: #c5c0c0;

}
.back h4 span{
  
 color: #181818;

 
 }

.front{
  position: absolute;
  z-index: 999;
  width: 100%;
  margin-top: 60vh;

}
.front img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

}

.fronttop {
  padding: 0 1vw;
  display: flex;
  align-items: center; /* Vertically center the text */
  justify-content: space-between; /* Horizontally center the text */
  height: 10vh; /* Height of the container */
  width: 100%; /* Full width */
}

.fronttop h5 {
  font-family: actay;
  font-weight: 500;
  text-transform: uppercase;
  color: #212020;
  font-size: 1vw;

}
.Gitstatus{
  width: 100%;
  margin-bottom: 1vw;
  margin-top: 2vw;

}


.gittop{
  height: 24vh;
  width: 100%;
  padding: 1vw 3vw;
}


.gittop h1{
  font-family: Actay;
  font-size: 4vw;
  color: #25520e;
}
.gittop h3{
  font-family: Actay;
  font-size: 2vw;
}



.gitbottom{
  height: 53vh;
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #25520e;
}

.gitbottom img{
  border-radius: 1vw;
  height: 35vh;
  object-fit: cover;
  object-position: center;
  

}

.contact{
  width: 100%;
  padding: 2vw 2vw;
}

.contactadresss{
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;


}


.contactadresss h2{
  font-family:actay ;
  font-weight: 500;
  font-size: 3vw;
  color: #242627;



}
.contactadresss a{
  color: #242627;
 text-decoration: none;

}
.contactadresss h3{
  font-family:actay ;
  font-weight: 500;
  font-size: 1.5vw;

}

.Footer{
  width: 100%;
  padding: 2vw 2vw;
  margin-top: 13vh;
}

.Footer H2{
  font-family:ActayCondensed ;
  font-weight: 500;
  font-size: 7.3vw;
  text-align: center;
  color: #242627;
  
}


@media (max-width: 768px) { 

  .cursor {
    height: 3.6vh;
    width: 7vw;
    opacity: 0;
  }
  .Loader h1{
    font-size: 7vw;
    }
  .navbar {
    opacity: 1;
    height: 8vh;
    width: 100%;
    position: relative;
    position: fixed;  
    bottom: 0;  /* Places it at the very bottom of the screen */
    left: 50%;
    margin-top:91vh;
    transform: translateX(-50%); /* Centers the navbar horizontally */
    padding: 0 2vw;
      z-index: 999;  /* Ensures the navbar appears on top of other content */
  }
    
  
 
  .bottom {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gilroy', sans-serif;  /* Added quotes and fallback font */
    gap: 3vw;
    padding: 3vw 1vw;
    box-shadow: 1px 1px 14px rgba(29, 28, 28, 0.5);  /* Added RGBA for transparency */
    border-radius: 4vw;
    width: 96%;
  }
  
  
.bottom h2{
  font-size: 3.5vw;
  font-weight: 500;
  color: #262525;
}


.bottom h2::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: 0;  
  background-color: #ee8d2c;
  transition: width 0.3s ease-in-out; /* Smooth animation */
}

.bottom h2:hover::after {
  width: 100%;
}

.end{
  height: 100%;
  width: 20vw;
  display: flex;
  align-items: right  ;
  justify-content: flex-end;
}
.end button{
  padding: 1.1vw 3.2vw;
  border: none;
  background-color: #212020;
  color: white;
  font-size: 1.2vw;
  font-family: actay;
  opacity: 0;

}

  .animated-button {
    padding: 6vw 2vw;
    font-size: 3.1vw;
  }
  
  .animated-button:hover {
    transform: scale(1); 
  }
  
.Home{
  width: 100%;
  margin-top: -5vw;
  margin-bottom: 12vw;
   
  }
 
  .Homeicons img{
    opacity: 0;
  }
  .Fronttext{
    height: 15vh;
    width: 100%;
  
  }
  .Fronttext h1{
    font-size: 7vw;
    padding: 1.6vw 0;
    font-weight: 500;

  
  }
  .Fronttext h4{
    font-size: 5vw;
    text-align: center  ;
    font-weight: 600;
  
  
  }

  .Marquee {
    height: 31vh;
    margin: 3vh auto;
    padding: 1vw 0;
  
  }
  .Marquee h1 {
    font-size: 40vw;
  
  }
  .imageupper {
    height: 30vh;
    width: 55vw;
    border-radius: 20%;
  
  }
  

.Client{
  height: 6vh;
  width: 100%;
  
}

.selectives{
  gap: 1.2vw;
  
}
.selectives img{
  height: 4.7vh;
}
.selectives h2{
  font-size: 5.2vw;
 }
 .Button{
  height: 6vh;
  width: 100%;
 
  
}
button{
  padding: 5vw 5.6vw;
  font-size: 3.8vw;
}

.Aboutus{
  width: 100%;
  margin-top: 2vw;
  }

.Aboutme{
width: 100%  !important;
margin-bottom: 1vw;
padding: 0 4vw;
}

.Aboutme h2{
  text-align: center;
  font-size: 8vw !important;
 }
 
.Aboutme h4{
  font-size: 1.8vh !important;
  text-align: center;

 }

 .AboutClient{
  margin-top: 7vh;
  width: 100%  !important ;
 }


 .AboutClient h4{

  font-size: 5vw;
  margin-bottom: 2vw;
  text-transform: uppercase;
  font-weight: 500;
  }
  
 .AboutClients img{

  height: 10vh;
  margin: 1vw 0;
  margin-bottom: 4vw;

 }



 .AboutClients h3{
  font-size: 6.5vw;


  
 }
 .AboutClients h5{
  
  font-size: 7vw;
  
 }

 .AboutClients h6{
  
  font-size: 4.5vw;

  
 }

 .Impactfulldesign {
  margin-top: 5vh;
  line-height: 31vw;
  padding: 5vw 1vw;
  
}

.mans {
  height: 40vh;
  width: 80%;
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.text-content h2,
.text-content h1 {
  font-size: 40vw;
  color: #262525;
}


 .myskills{
  margin-top: 9vh;
  width: 100%;
  margin-bottom: 9vh;
}

.myskills h1{
  font-size: 7vw;

}

.skill-item {
  width: 10vh;
  height:10vh;
}

.Ourservices{
  width: 100%;
  margin-top: 5vh;
  padding: 0 3vw;
}
.Ourservices h1{
  font-size: 7vw;
  margin-bottom: 5vw;

}

.Designs{
  padding: 2vw 1vw;
  }
  
.Designs h3{
  font-size: 6vw;
  color: rgb(25, 24, 24);

}
.Designs ul{
  padding: 1vw 2vw;
  margin: 3vw 0;
  font-size: 4.3vw;
 
 }
 
.project{
  width: 100%;
  margin-top: 5vh;
  padding: 2vw 2vw;
  margin-bottom: 3vw;

}


.WorkCollection{
  width: 100%;
  margin-bottom: 5vw;
}
.WorkCollection h2{
  font-size: 7vw;
  margin: 3vw 0;

}

.WorkCollection h5{
  font-size: 3.5vw;

}
.Card {
  width: 100%;

}


.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 4vw; 
  width: 100%;

}



.image {
  width:100%;
  height: 39vh;
  }

  .cards h4 {
    font-size: 4vw;
    padding: 2vw 3vw;
  }
  

  

.CertifiedCard h2{
  font-size: 4.8vw;
  text-align: center;

}

.CertifiedCard {
  margin-top: 6vw;

}
.Certifiedcards {
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}



.Certifiedcardsimage {
  width:100%;
  height: 38vh;
  margin-bottom: 5vw;
}

.CertifiedCard h4 {
  font-size: 5vw;
}

.faqs-container {
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
}

/* Title */
.faq-title {
  margin-bottom: 5vh;
  font-size: 5vw;
  
}


/* FAQ Items */
.faq-item {
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 13px;
}

.faq-question {
  font-size: 1.1rem;


}

/* Answer Section */
.faq-answer {
  font-size: 3.4vw;
  color: rgb(52, 50, 50);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}



.Checkmates{
  height: 83vh;
  width: 100%;

}


.back{
  display: flex;
  align-items: flex-start;
  height: 46vh;

}

.back h4{
  font-size: 11vw;
  line-height: 12vw;
 
 }
 .front{
  margin-top: 9vh;

}
.fronttop {
  padding: 2vw 0;
  display: flex;
  align-items: center; /* Vertically center the text */
  justify-content: center;
  flex-direction: column;
  height: 30vh; /* Height of the container */
  margin-bottom: 2vh;
  width: 100%; /* Full width */
}

.fronttop h5 {
  margin: 2vw 0;
  color: #212020;
  font-size: 3.9vw;
  text-align: center;

}



.Gitstatus{
  height: 40vh;
  width: 100%;

}
.gittop{
  height: 17vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.gittop h1{
  font-size: 12vw;
}
.gittop h3{
  font-size: 4.6vw;
}



.gitbottom{
  height: 20vh;
  width: 93%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #25520e;
}

.gitbottom img{
  height: 12vh;
  

}

.contact{
  width: 100%;
  padding: 3vw 2vw;
}
.contactadresss{
  width: 100%;



}


.contactadresss h2{
  font-size: 7vw;  


}
.contactadresss h3{
  font-size: 4vw;

}


.Footer{
  width: 100%;
  padding: 2vw 2vw;
  margin-top: 6vh;
}
.Footer H2{
  font-size: 11vw;
}



}


@media (min-width: 768px) and (max-width: 1024px){  



  .cursor {
    height: 5vh;
    width: 5.8vw;
    opacity: 0;
  }
  .Loader h1{
    font-size: 6vw;
    }
    .navbar {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 8vh;
      width: 88%;
      position: relative;
      position: fixed;  
      bottom: 0;  /* Places it at the very bottom of the screen */
      left: 50%;
      margin-top:91vh;
      transform: translateX(-50%); /* Centers the navbar horizontally */
      padding: 0 2vw;
        z-index: 999;  /* Ensures the navbar appears on top of other content */
    }
      
    
    .bottom {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Gilroy', sans-serif;  /* Added quotes and fallback font */
      gap: 3vw;
      padding: 3vw 1vw;
      box-shadow: 1px 1px 14px rgba(29, 28, 28, 0.5);  /* Added RGBA for transparency */
      border-radius: 4vw;
      width: 96%;
    }
    
    
    
    
  .bottom h2{
    font-size: 2.8vw;
    font-weight: 500;
    color: #262525;
  }
  
  
  .bottom h2::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 5px;
    left: 0;
    bottom: 0;  
    background-color: #ee8d2c;
    transition: width 0.3s ease-in-out; /* Smooth animation */
  }
  
  .bottom h2:hover::after {
    width: 100%;
  }


  .Home{
    width: 100%;
    margin-top: -1vw;
    margin-bottom: 13vw;
     
    }
   

 
  .Fronttext{
    height: 22vh;
    width: 100%;
  
  }
  .Fronttext h1{
    font-size: 7vw;
    padding: 1.6vw 0;
    font-weight: 500;

  
  }
  .Fronttext h4{
    font-size: 5vw;
    text-align: center  ;
    font-weight: 600;
  
  
  }

  .Marquee {
    height: 36vh;
    margin: 3vh auto;
    padding: 1vw 0;
  
  }
  .Marquee h1 {
    font-size: 27vw;
  
  }
  .imageupper {
    height: 35vh;
    width: 37vw;
    border-radius: 20%;
  
  }
  
  
.Client{
  height: 10vh;
  width: 100%;
  margin-top: 7vw;
  
}

.selectives{
  gap: 1.5vw;
  
}
.selectives img{
  height: 6vh;
}
.selectives h2{
  font-size: 5vw;
 }
 .Button{
  height: 12vh;
  width: 100%;
  
}

button{
  padding: 3vw 5vw;
  font-size: 3.5vw;
}


.Aboutus{
  width: 100%;
  margin-top: 2vw;
  }

.Aboutme{
width: 95%  !important;
margin-bottom: 3vw;
}

.Aboutme h2{
  text-align: center;
  font-size: 8vw !important;
 }
 
.Aboutme h4{
  font-size: 2.5vh !important;
  text-align: center;

 }

 .AboutClient{
  margin-top: 6vh;
  width: 100%  !important ;
 }


 .AboutClient h4{

  font-size: 5vw;
  margin-bottom: 2vw;
  text-transform: uppercase;
  font-weight: 500;
  }
  
 .AboutClients img{

  height: 9vh;
  margin: 2vw 0;
  margin-bottom: 4vw;

 }



 .AboutClients h3{
  font-size: 5vw;


  
 }
 .AboutClients h5{
  
  font-size: 6vw;
  
 }

 .AboutClients h6{
  
  font-size: 4vw;

  
 }

 .Impactfulldesign {
  margin-top: 9vh;
  line-height: 27vw;
  
}
.mans {
  height: 60vh;
  width: 80%;
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.text-content h2,
.text-content h1 {
  font-size: 37vw;
}

.myskills{
  margin-top: 11vh;
  width: 100%;
  margin-bottom: 6vh;
}

.myskills h1{
  font-size: 8vw;
  font-weight: 500;

}

.skill-item {
  width: 10vh;
  height: 10vh;
}



.Ourservices{
  width: 100%;
  margin-top: 5vh;
  padding: 0 3vw;
}

.Ourservices h1{
  font-size: 6vw;
  margin-bottom: 4vw;

}

.Designs{
  padding: 2vw 1vw;
  }
  
.Designs h3{
  font-size: 6vw;
  color: rgb(25, 24, 24);

}
.Designs ul{
  padding: 1vw 2vw;
  margin: 3vw 0;
  font-size: 3.2vw;
  font-weight: 500;
 
 }
 

 .WorkCollection{
  width: 100%;
  margin-bottom: 2vw;

}

.WorkCollection h2{
  font-size: 6vw;
  margin: 3vw 0;

}

.WorkCollection h5{
  font-size: 3vw;

}
.Card {
  width: 100%;
  margin-bottom: 3vw;

}


.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 4vw; 
  width: 100%;

}



.image {
  width:100%;
  height: 46vh;
  }

  .cards h4 {
    font-size: 3.1vw;
    font-weight: 500;
    padding: 2vw 3vw;
  }
  
  .CertifiedCard {
    margin-top: 6vw;
    margin-bottom: 8vw;
  
  }
  

.CertifiedCard h2{
  font-size: 3.4vw;
  text-align: center;

}





.Certifiedcardsimage {
  width:100%;
  height: 45vh;
  margin-bottom: 5vw;
}

.CertifiedCard h4 {
  font-size: 5vw;
}

.faqs-container {
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
}

/* Title */
.faq-title {
  margin-bottom: 5vh;
  font-size: 4.5vw;
  font-weight: 500;
  
}


/* FAQ Items */
.faq-item {
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 13px;
}
.faq-question {
  font-size: 1.5rem;


}

/* Answer Section */
.faq-answer {
  font-size: 2vw;
  color: rgb(52, 50, 50);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}


.Gitstatus{
  width: 100%;
  margin-bottom: 10vw;
  margin-top: 2vw;


}


.gittop{
  height: 17vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.gittop h1{
  font-size: 7vw;
}
.gittop h3{
  font-size: 4vw;
}

.gitbottom{
  height: 33vh;
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #25520e;

}

.gitbottom img{
  height: 21vh;

  

}

.Checkmates{
  height: 100vh;
  width: 100%;

}


.back{
  display: flex;
  align-items: flex-start;


}

.back h4{
  font-size: 10vw;
  line-height: 12vw;
 
 }
 .front{
  margin-top: 12vh;

}
.fronttop {
  padding: 2vw 1vw;
  display: flex;
  align-items: center; /* Vertically center the text */
  justify-content: center;
  flex-direction: column;
  height: 35vh; /* Height of the container */
  margin-bottom: 2vh;
}

.fronttop h5 {
  margin: 1.6vw 0;
  color: #212020;
  font-size: 3vw;

}



.contact{
  width: 100%;
  padding: 3vw 2vw;
}
.contactadresss{
  width: 100%;

}

.contactadresss h2{
  font-size: 6vw;


}
.contactadresss h3{
  font-size: 3.1vw;

}


.Footer{
  width: 100%;
  padding: 2vw 2vw;
  margin-top: 4vh;
}
.Footer H2{
  font-size: 11vw;
  line-height: 10vw;
}





}


@media (min-width: 1025px) and (max-width: 1280px){


.cursor {
  height: 3.7vh;
  width: 2vw;
}

.Loader h1{
  font-size: 5vw;
  }

  .navbar {
    height:9vh;
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0; 
    left: 50%; 
    transform: translateX(-50%);
    z-index: 99099;
    margin-top: 1vw;
    border-radius: 30vw;
  
    
  
  }

  .bottom {
    background-color: #f7f4f3;
    height: 100%;
    border-radius: 3vw;
    width: 50%;
  }
  .bottom h2 {
    font-size: 1.3vw;
    font-weight: 500;
    color: #262525;
    position: relative;  
    padding-bottom: 5px;
  }



.end{
  height: 100%;
  width: 20vw;
}

.btn {
  padding: 1rem 2.5rem;
  font-size: 1rem;
}

.Home{
  width: 100%;
  margin-top: 5vw;
   
  }
  
  .Fronttext{
    height: 20vh;
    width: 100%;
  
  }
  .Fronttext h1{
    font-size: 3.5vw;
    padding: 0.2vw 0;

  }
  .Fronttext h4{
    font-size: 2.5vw;
  
  
  }
  
  .Marquee {
    height: 49vh;
    margin: 3vh auto;
  
  }
  .Marquee h1 {
    font-size: 17vw;
  
  }
  .imageupper {
    height: 35vh;
  
  }
  
.Client{
  height: 10vh;
  width: 100%;
  margin-top: 3vw;
  
}

.selectives{
  gap: 0.5vw;
  
}
.selectives img{
  height: 6vh;
}
.selectives h2{
  font-size: 2.5vw;
 }
 .Button{
  height: 10vh;
  width: 100%;
  
}

button{
  padding: 2vw 3vw;
  font-size: 1.3vw;
}


.Aboutus{
  width: 100%;
  margin-top: 1vw;
  }

  
.Aboutme{
  width: 95%  !important;
  margin-bottom: 4vw;
  }
  
  .Aboutme h2{
    font-size: 3.7vw !important;
   }
   
  .Aboutme h4{
    font-size: 3vh !important;
  
   }
   
 .AboutClient{
  margin-top: 6vh;
 }
 
 .AboutClient h4{

  font-size: 3vw;
  margin-bottom: 1vw;
  }
  
 .AboutClients img{

  height: 19vh;
  margin: 2vw 0;
  margin-bottom: 2vw;

 }
 
 .AboutClients h3{
  font-size: 3vw;


  
 }
 .AboutClients h5{
  
  font-size: 2.9vw;
  
 }
 
 .AboutClients h6{
  
  font-size: 2vw;

  
 }
 
 .Impactfulldesign {
  margin-top: 9vh;
  line-height: 24vw;
  
}
.mans {

  height: 85vh;
  width: 52%;
}
.text-content h2,
.text-content h1 {
  font-size: 33vw;
}

.myskills{
  margin-top: 13vh;
  width: 100%;
  margin-bottom: 2vh;
}

.myskills h1{
  font-size: 3.5vw;
  font-weight: 500;

}

.skill-item {
  width: 12vh;
  height: 12vh;
}




.Ourservices{
  width: 100%;
  margin-top: 5vh;
  padding: 0 3vw;
}
.Ourservices h1{
  font-size: 3.5vw;
  margin-bottom: 1vw;
  font-family: 500;

}

.Designs{
  padding: 2vw 1vw;
  }

  .Designs h3{
    font-size: 3vw;
    color: rgb(25, 24, 24);
  
  }
  .Designs ul{
    padding: 1vw 2vw;
    margin: 1vw 0;
    font-size: 2vw;
   
   }
   

   .WorkCollection{
    width: 100%;
    margin-bottom: 2vw;
    padding: 0 3vw;
  }
  .WorkCollection h2{
    font-size: 3vw;
    margin: 2vw 0;
  
  }
  
  .WorkCollection h5{
    font-size: 2vw;
  
  }


  
.Card {
  width: 100%;

}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 7vw; 
  width: 100%;

}

.image {
  width:100%;
  height: 54vh;
  }

  .cards h4 {
    font-size: 1.7vw;
    padding: 1vw 0;
    font-weight: 500;
  }

  .CertifiedCard {
    margin-top: 6vw;
  
  }
  
.CertifiedCard h2{
  font-size: 3vw;

}

.CertifiedCard {
  margin-top: 6vw;

}

.Certifiedcardsimage {
  width:100%;
  height: 63vh;
  margin-bottom: 5vw;
}

.faqs-container {
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
}

/* Title */
.faq-title {
  margin-bottom: 5vh;
  font-size: 2.9vw;
  
}


.Gitstatus{
  width: 100%;
  margin-bottom: 1vw;
  margin-top: 1vw;
}


.gittop{
  height: 24vh;
  width: 100%;
}


.gittop h1{
  font-size: 5vw;
}
.gittop h3{
  font-size: 2.5vw;
}



.gitbottom{
  height: 58vh;
  width: 90%;
}

.gitbottom img{
  height: 33vh;
  

}


.Checkmates{
  height: 135vh;
  width: 100%;

}

.back{
  height: 85vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}
.front{
  position: absolute;
  z-index: 999;
  width: 100%;
  margin-top: 35vh;

}


.fronttop h5 {
  font-size: 1.1vw;

}
.contact{
  width: 100%;
  padding: 3vw 2vw;
}
.contactadresss{
  width: 100%;



}


.contactadresss h2{
  font-size: 7vw;


}
.contactadresss h3{
  font-size: 2.2vw;

}

.Footer{
  width: 100%;
  padding: 2vw 2vw;
  margin-top: 6vh;
}
.Footer H2{
  font-size: 7vw;
}

.contactadresss h2{
  font-size: 4.5vw;


}
.contactadresss h3{
  font-size: 2.1vw;

}




}












