@import "tailwindcss";
@import "tw-animate-css";


*{
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
  background: none;
}
@font-face {
  font-family: 'Actay';
  src: url('/public/Assets/Fonts/Actay-Regular.otf'); 
    font-display: swap;

}
@font-face {
  font-family: 'ActayCondensed';
  src: url('/public/Assets/Fonts/ActayCondensed-ThinItalic.otf');
  font-display: swap;
 
}
@font-face {
  font-family: 'ppneuemontreal';
  src: url('/public/Assets/Fonts/ppneuemontreal-bold.otf');
  font-display: swap;
 
}

@font-face {
  font-family: 'MarvinVisions';
  src: url('/public/Assets/Fonts/MarvinVisions-Bold.otf');
  font-display: swap;
 
}

@font-face {
  font-family: 'Quasar';
  src: url('/public/Assets/Fonts/Quasar.otf');
  font-display: swap;
 
}
@font-face {
  font-family: 'sigana';
  src: url('/public/Assets/Fonts/sigana-condensed.otf');
  font-display: swap;
 
}
@font-face {
  font-family: 'impact';
  src: url('/public/Assets/Fonts/impact.ttf');
  font-display: swap;
 
}

@font-face {
  font-family: 'Stadium';
  src: url('/public/Assets/Fonts/Stadium.ttf');
  font-display: swap;
 
}
@font-face {
  font-family: 'ThatAppeal';
  src: url('/public/Assets/Fonts/ThatAppeal-FreeDemo-BF65b7880fefd18.otf'); 
  font-display: swap;

}
@font-face {
  font-family: 'TypeMonster';
  src: url('/public/Assets/Fonts/TypeMonster-FreeDemo-BF65d7910e35896.otf');
  font-display: swap;
 
}
@font-face {
  font-family: 'Morganite';
  src: url('/public/Assets/Fonts/Morganite-Black.ttf');
  font-display: swap;
 
}

@font-face {
  font-family: 'Impacted';
  src: url('/public/Assets/Fonts/Impacted.ttf');
  font-display: swap;
 
}
@font-face {
  font-family: 'rejouice';
  src: url('/public/Assets/Fonts/rejoucie.ttf'); 
  font-display: swap;

}

@font-face {
  font-family: 'gunplay';
  src: url('/public/Assets/Fonts/gunplay.ttf');
  font-display: swap;
 
}

@font-face {
  font-family: 'Akrobat';
  src: url('/public/Assets/Fonts/Akrobat.ttf');
  font-display: swap;
 
}

@font-face {
  font-family: 'GeoplaceSC';
  src: url('/public/Assets/Fonts/GeoplaceSC-Bold.ttf');
  font-display: swap;
 
}

@font-face {
  font-family: 'FaqroExtendedWideTrial';
  src: url('/public/Assets/Fonts/FaqroExtendedWideTrial-Regular.ttf'); 
  font-display: swap;

}

@font-face {
  font-family: 'Satoshi';
  src: url('/public/Assets/Fonts/Satoshi.ttf');
  font-display: swap;
 
}

@font-face {
  font-family: 'Satoshi-black';
  src: url('/public/Assets/Fonts/Satoshi-Black.otf');
  font-display: swap;
 
}

.Satoshi-black{
  font-family: 'Satoshi-black';

}
@font-face {
  font-family: 'Queen';
  src: url('/public/Assets/Fonts/Queen.ttf');
  font-display: swap;

}

.Queen{
  font-family: 'Queen';

}

@font-face {
  font-family: 'Fontspring';
  src: url('/public/Assets/Fonts/Fontspring.otf');
  font-display: swap;
 
}

@font-face {
  font-family: 'playwrite';
  src: url('/public/Assets/Fonts/plauwrite.ttf');
  font-display: swap;
 
}

@font-face {
  font-family: 'Garelin';
  src: url('/public/Assets/Fonts/GarelinaBold-rgZ0p.ttf');
  font-display: swap;

}


::selection{
  background-color:#242627;
  color: white;
}
/* 
.Updateing {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  position: absolute;   
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
 justify-content: center;
 flex-direction: column;
  z-index: 99999999;
} */



.backupdateing{
  width: 100%;
  height: 100%;
  z-index: 8;
  display: flex;
align-items: center;
justify-content: center;


  
}
.plane3d{
  height: 20vh;
  width: 27vw;
  margin-top: -13vw;
  display: flex;
align-items: center;
justify-content: center;

}
.plane3d img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}
.frontupdating{
 
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.frontupdating h2{
 font-family: rejouice;
 font-weight: 400;
 font-size: 2vw;
}
.wrapicon{
font-family: actay;
font-weight: 400;
font-size: 1vw;
}
.Loader {
  height: 100vh;
  width: 100%;

  position: fixed;  
  top: 0;  
  left: 0; 
  z-index: 9990999;  
  background-color: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Loader h1{
font-size: 2vw;
text-transform: uppercase;
color: white;
font-family: FaqroExtendedWideTrial;
text-align: center;

}
body,html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #F0F0F0;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar {
  height:9vh;
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0; 
  left: 50%; 
  transform: translateX(-50%);
  z-index: 999999;
  margin-top: 1vw;

}

 .bottom {
  background-color: #f7f4f3;
  height: 100%;
  border-radius: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Satoshi'; 
  gap: 2.2vw;
  padding: 2vw 4vw;
  box-shadow: 1px 1px 14px rgba(29, 28, 28, 0.5); 
}

.bottom h2 {
  font-size: 1.2vw;
  font-weight: 500;
  color: #262525;
  position: relative;  
}

.end{
  height: 100%;
  display: flex;
  align-items: center  ;
  justify-content: right;
}

#btnheader {
  padding: 2.2vh 2.2vw;
  font-size: 1.1vw;
  outline: none;
  border: none;
  font-family: actay;
  border-radius: 10px;
  transition: 0.5s;
  background: #1e1e1e;
  cursor: pointer;
  color: whitesmoke;
  box-shadow: 0 0 10px #363636, inset 0 0 10px #363636;
}

#btnheader:hover {
  animation: a 0.5s 1 linear;
}

@keyframes a {
  0% {
    transform: scale(0.7, 1.3);
  }

  25% {
    transform: scale(1.3, 0.7);
  }

  50% {
    transform: scale(0.7, 1.3);
  }

  75% {
    transform: scale(1.3, 0.7);
  }

  100% {
    transform: scale(1, 1);
  }
}


.bottom h2::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: 0;  
  background-color: black;
  transition: width 0.3s ease-in-out; /* Smooth animation */
}

.bottom h2:hover::after {
  width: 100%;
}

.Home{
  width: 100%;
  position: relative;
  overflow: hidden;
  position: relative;

  }
.Homeicon{
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 999999999;
  display: flex;
  align-items:center;
  justify-content: space-between;

}

.Homeicons{
  height: 80vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;

}

.Homeicons img{
  height: 35vh;
}
.Fronttext{
  height: 15vh;
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 9vw;

}

.Fronttext h1{
  font-family: Fontspring;
  font-weight: 500;
  font-size: 3.5vw;
  text-transform: uppercase;
  line-height: 4.5vw;
  

}

.Fronttext h4{
  font-family: ActayCondensed;
  font-size: 1.8vw;
  font-weight: 500;
  color: rgb(47, 45, 45);

}

.Marquee {
  height: 58vh;
  width: 100%;
  margin: 8vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 3vw;
  padding: 2vw 0;

}

.track {
  display: flex;
  width: 100%;
  position: absolute;
}

.content {
  display: inline-block;
  padding-right: 3vw; 
  white-space: nowrap;

}

.Marquee h1 {
  font-family: Akrobat , sans-serif;
  font-weight: 500;
  font-size: 15.5vw;
  text-transform: uppercase;
  color: #343333;

}
.imageupper {
  height: 100%; 
  width: 35%;   
  position: absolute;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;

}

.Modelview {
  height: 100%;
  width: 100%;

}

model-viewer {
  width: 100%;
  height: 100%;
}

.Client{
  height: 10vh;
  width: 40%;
  margin: 1vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

.selectives{
  gap: 0.2vw;
  display: flex;
  align-items: center;

}

.selectives img{
  height: 6vh;
}
.selectives h2{
 font-family: 'Satoshi';
 font-weight: 500;
 font-size: 1.6vw;
 margin-left: 0.6vw;
 color: #242627;
}

.Button{
  height: 10vh;
  width: 40%;
  margin: 3vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 3vw;

}

button{
  border: none;
  padding: 1.5vw 3vw;
  background-color:#242627;
  color: white;
  font-family: Actay;
  border-radius: 3vw;
  font-size: 1vw;
  cursor: pointer;
}

.Aboutus{
  width: 100%;
  margin-top: 5vw;
}

.Aboutme{
    margin: 0 auto;
  width: 80%;
}

.Aboutme h2{
 font-family: Satoshi;
 font-size: 3vw;
 margin: 1vw 0;
 color: #242627;

}

.Aboutme h4{
  font-family: Satoshi;
  font-size: 1.6vw;
  text-align: center;

 }






 .Impactfulldesign {
  width: 100%;
  margin-top: 3vh;
  padding: 1vw;
  text-align: center;
  line-height: 21vw;
  text-transform: uppercase;
  position: relative;
  color: #1e1e1f;

}

.mans {
  height: 99vh;
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.mans img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
  animation: moveImage 4s ease-in-out infinite; /* Keyframe animation */
}

@keyframes moveImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2%); 
  }
  100% {
    transform: translateY(0); 
  }
}

.text-content h2,
.text-content h1 {
    font-size: 28vw;
    font-family: Morganite;

}
.myskills{
  margin-top: 20vh;
  width: 100%;
  padding: 1vw 3vw;
}

.myskills h1{
  font-family: Satoshi;
  font-weight: 500;
  font-size: 3vw;
  text-align: center;
  color: #242627;

}
.myskills {
  text-align: center;
}

.skills {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  gap: 3.5vw; 
  padding: 2vh;
  width: 70%;
  margin: 0 auto;
  margin-top: 1vw;
}

.skill-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
cursor: pointer;
  border-radius: 10vw;
}

.skill-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2vw;
}

.Ourservices{
  width: 100%;
  margin-top: 8vh;
  height: 100%;
  background-color: #689D48;
  position: relative;

}

.ourservicestop{
  width: 100%;
  padding: 0 1vw;

}
.ourservicestop h2{ 
  font-family: 'Impacted';
 font-weight: 500;
 font-size:13vw;
 line-height: 12vw;
 text-align: center;
 text-transform: uppercase;
 color: white;

}

.ourservicesbottom{
  width: 100%;
  margin-top: -2vw;
}

.ourserivesimagepart{
  height: 100%;
  width:100%;
  background-color: #e0e05f;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid black;

}
.ourserivesimagepart .images{
  height: 183vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: -10vw;

}
.ourserivesimagepart .images img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

}

.ourservicesfaqs{
  width: 90%;
  margin: 0 auto;
}

.project{
  width: 100%;
  margin-top: 5vh;
}

.WorkCollection{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2vw;
}

.WorkCollection h2{
  font-family: Satoshi;
  font-weight: 500;
  font-size: 3vw;
  text-align: center;
  margin: 2vw 0;
  color: #242627;

}

.WorkCollection h5{
  font-family: Satoshi;
  font-weight: 500;
  font-size: 1.7vw;
  text-align: center;
  color: #242627;

}
.projectarea{
  
  width: 100%;
 height: 100vh;  
  overflow-x: hidden;
}

.backtextarea{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.backtextarea h2{
font-family: Garelin;
font-weight: 400;
font-size: 14vw;
text-transform: uppercase;

  
}

.frontprojectshowcase{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14vw;


}

.cardscollection{

  padding: 0.4vw 0.4vw;
  min-width: 21vw;
  box-sizing: border-box;
  display: flex;
  height: 62vh;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
   width:21vw;
  


}

.carcollectionimage{
  height: 47%;
  width:100%;
  border-radius: 0.7vw;

}
.carcollectionimage img{
  height:100%;
  width:100%;
object-fit: cover;
object-position: center;
}
.Braveresult{
  width: 100%;
  padding: 2vw 0;
  margin-bottom: 5vw;
}

.Braveresult h2{
  font-family: GeoplaceSC;
  text-transform: uppercase;
  color: white;
  font-size:11vw;
}

.information{
  height:37vh;
  width: 100%;
  padding: 1vw 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap:5vw;
}


.information h2{
font-family: actay;
font-size: 1.2vw;
color: whitesmoke;

}
.informationdesc{
  height: 100%;
  width: 100%;
  padding: 1vh 0;
  border-top: 1px solid rgb(93, 92, 92);

}

.informationdesc p{
  font-family: actay;
  font-size: 2vh;
  font-weight: 400;
  color: whitesmoke;

}
.Certified{
margin-top: 10vh;
width: 100%;
}

.CertifiedCard h2{
  font-family: Quasar;
  font-weight: 500;
  font-size: 4.5vw;
  text-align: center;

}

.CertifiedCard {
  width: 100%;
  padding: 2vw;
  display: flex;
  flex-direction: column; /* ✅ Text ko upar rakhne ke liye */
  align-items: center;
  justify-content: center;
  margin: 4vw 0;
  margin-bottom: 8vw;
}

.CertifiedCard h2 {
  text-align: center;
  font-size: 2.5vw;
  font-family: Satoshi ;
  margin-bottom: 5vw;
  color: #242627;

}

.Certifiedcards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;

  justify-content: center;

}

.Certifiedcardsimage {
  width:100%;
  height: 70vh;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
}

.Certifiedcardsimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.CertifiedCard h4 {
  font-family: "Actay", sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
  text-align: center;
  margin-top: 1vw;
  padding: 0 3vw;
  color: #242627;

}

.faqs-container {
  max-width: 100%;
  margin: 50px auto;
  padding: 20px;
}

/* Title */
.faq-title {
  font-weight: 500;
  text-align: center;
  color: #333;
  margin-bottom: 7vh;
  font-family:Satoshi ;
  text-transform: uppercase;
  font-size: 2.6vw;
  color: #242627;

}

/* FAQ Items */
.faq-item {
  background: #fff;
  border-radius: 3vw;
  margin-bottom: 10px;
  padding: 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 2vw 0;
  font-family: Satoshi;
  font-weight: 500;
}

/* Question Section */
.faq-question {
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
  font-family: Satoshi;
  font-weight: 500;
  color: #242627;

}

/* Answer Section */
.faq-answer {
  font-size: 1.4vw;
  color: rgb(52, 50, 50);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.faq-item.open .faq-answer {
  max-height: 120px;
  margin-top: 10px;
}

/* Plus & Minus Icon */
.faq-icon {
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

.faq-item.open .faq-icon {
  transform: rotate(180deg);
}

.video-thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;

}

.cursor {
  height: 3vh;
  width: 1.4vw;
  background-color: #f1f4f7; /* Default color for the cursor */
  border-radius: 10vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: 0.2s;
}

.Checkmates{
  height: 134vh;
  width: 100%;

}

.back{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.back h4{
 font-family: Impact;
 text-transform: uppercase;
 font-size: 8vw;
 line-height: 7.8vw;
 text-align: center;
 color: #c5c0c0;

}
.back h4 span{

 color: #181818;

 }

.front{
  position: absolute;
  z-index: 999;
  width: 100%;
  margin-top: 55vh;

}
.front img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

}

.Gitstatus{
  width: 100%;
  margin-bottom: 3vw;
  margin-top: 2vw;

}

.gittop{

  width: 100%;
  padding: 1vw 3vw;
}

.gittop h1{
  font-family: Satoshi;
  font-size: 4vw;
  color: #25520e;
}
.gittop h3{
  font-family: Satoshi;
  font-size: 2vw;
}

.gitbottom{ 
  width: 95%;
  padding: 4vw 2vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #25520e;
}

.gitbottom img{
  height: 29vh;
  border-radius: 1vw;
  object-fit: cover;
  object-position: center;

}

.contact{
  width: 100%;
  padding: 2vw 3vw;
  margin-top: 5vw;
}

.contactadresss{
  width: 97%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.contactadresss h2{
  font-family:Satoshi ;
  font-weight: 500;
  font-size: 3vw;
  color: #242627;

}
.contactadresss a{
  color: #242627;
 text-decoration: none;

}
.contactadresss h3{
  font-family:Satoshi ;
  font-weight: 500;
  font-size: 1.5vw;

}

.Footer{
  width: 100%;
  margin-top: 1vw;

}

.Footer h2{
  font-family:Queen ;
  font-weight: 500;
  font-size: 20vw;
  color: #242627;

}

@media (max-width: 768px) { 
  .chilliman{
  opacity: 0;
}


  .cursor {
    height: 3.6vh;
    width: 7vw;
    opacity: 0;
  }
  .Loader h1{
    font-size: 5vw;
    }
  .navbar {
    opacity: 1;
    height: 7vh;
    width: 100%;
    position: relative;
    position: fixed;  
    bottom: 0;  
    left: 50%;
    margin-top:92vh;
    transform: translateX(-50%); 
    padding: 0 2vw;
      z-index: 999; 
  }

  .bottom {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gilroy', sans-serif;  
    gap: 3vw;
    padding: 3vw 1vw;
    box-shadow: 1px 1px 14px rgba(29, 28, 28, 0.5); 
    border-radius: 4vw;
    width: 96%;
  }

.bottom h2{
  font-size: 3.7vw;
  font-weight: 500;
  color: #262525;
  font-family: 'Satoshi';
}

.bottom h2::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: 0;  
  background-color: #ee8d2c;
  transition: width 0.3s ease-in-out; /* Smooth animation */
}

.bottom h2:hover::after {
  width: 100%;
}

.end{
  height: 100%;
  width: 20vw;
  display: flex;
  align-items: right  ;
  justify-content: flex-end;
}
.end button{
  padding: 1.1vw 3.2vw;
  border: none;
  background-color: #212020;
  color: white;
  font-size: 1.2vw;
  font-family: actay;
  opacity: 0;

}

  .animated-button {
    padding: 6vw 2vw;
    font-size: 3.1vw;
  }

  .animated-button:hover {
    transform: scale(1); 
  }

.Home{
  width: 100%;
  margin-top:1vw;
  margin-bottom: 12vw;

  }

  .Homeicons img{
    opacity: 0;
  }
  .Fronttext{
    height: 15vh;
    width: 100%;

  }
  .Fronttext h1{
    font-size: 8vw;
    padding: 6vw 0;
    font-weight: 500;

  }
  .Fronttext h4{
    font-size: 5vw;
    text-align: center  ;
    font-weight: 600;

  }

  .Marquee {
    height: 36vh;

  }
  .Marquee h1 {
    font-size: 40vw;

  }
.imageupper {
  height: 100%; 
  width: 70%;   
  position: absolute;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;

}

.Modelview {
  height: 100%;
  width: 100%;
}

model-viewer {
  width: 100%;
  height: 100%;
}

.Client{
  height: 6vh;
  width: 100%;
  margin-top: 5vw;
  margin-bottom: 2vw;

}

.selectives{
  gap: 1.2vw;

}
.selectives img{
  height: 4.7vh;
}
.selectives h2{
  font-size: 5.2vw;
 }
 .Button{
  height: 6vh;
  width: 100%;

}
button{
  padding: 4.5vw 5.6vw;
  font-size: 3.2vw;
}

.Aboutus{
  width: 100%;
  margin-top: 2vw;
  }

.Aboutme{
width: 100%  !important;
margin-bottom: 1vw;
padding: 0 4vw;
}

.Aboutme h2{
  text-align: center;
  font-size: 8vw !important;
 }

.Aboutme h4{
  font-size: 1.8vh !important;
  text-align: center;

 }

 .AboutClient{
  margin-top: 7vh;
  width: 100%  !important ;
 }

 .AboutClient h4{

  font-size: 5vw;
  margin-bottom: 2vw;
  text-transform: uppercase;
  font-weight: 500;
  }

 .AboutClients img{

  height: 10vh;
  margin: 1vw 0;
  margin-bottom: 4vw;

 }

 .AboutClients h3{
  font-size: 6.5vw;

 }
 .AboutClients h5{

  font-size: 7vw;

 }

 .AboutClients h6{

  font-size: 4.5vw;

 }

 .Impactfulldesign {
  line-height: 31vw;
  padding: 5vw 1vw;

}

.mans {
  height: 60vh;
  width:100%;
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.text-content h2,
.text-content h1 {
  font-size: 40vw;
  color: #262525;
}

 .myskills{
  margin-top: 1vh;
  width: 100%;
  margin-bottom: 1vh;
}

.myskills h1{
  font-size: 9vw;

}
.skills {
  gap: 3vw; 
  width: 100%;
}

.skill-item {
  width: 8vh;
  height:8vh;
}

.Ourservices{
  width: 100%;
  margin-top: 7vh;
  height: 100%;
  background-color: #689D48;
  position: relative;

}

.ourservicestop h2{ 
 font-size:13vw;
 line-height: 15vw;

}
.ourservicesbottom{
  width: 100%;
  margin-top: -2vw;
  background-color: orangered;
}

.ourserivesimagepart{
  width:100%;

}

.ourserivesimagepart .images{
  height: 51vh;
  width: 100%;
  padding: 2vw 10vw;

}

.ourserivesimagepart .images img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

}

.ourservicesfaqs{
  width: 100%;
  margin: 0 auto;
}

 .WorkCollection{
  width: 100%;
  margin-bottom: 2vw;

}

.WorkCollection h2{
  font-size: 6vw;
  margin: 3vw 0;

}

.WorkCollection h5{
  font-size: 3vw;

}

.projectarea{
  height:51vh;
  width: 100%;
}

.backtextarea h2{

font-size: 19vw;
  
}
/* .frontprojectshowcase{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  background-color: red;
  flex-direction: column;


} */

.cardscollection{
  min-width: 62vw;
  height: 47vh;
   width:49vw;


}
.information{
  width: 100%;
  gap: 15vw;
  height: 100%;

}

.information h2{
font-family: actay;
font-size: 2.2vh;
color: whitesmoke;
padding: 1vw 0;
}

.informationdesc p{
  font-family: actay;
  font-size: 1.6vh;
  font-weight: 400;
  color: whitesmoke;

}

.Braveresult{
  width: 100%;
  margin-bottom: 1vw;
}

.Braveresult h2{
  font-family: GeoplaceSC;
  text-transform: uppercase;
  color: white;
  font-size:14vw;
}

.CertifiedCard h2{
  font-size: 4.8vw;
  text-align: center;

}

.CertifiedCard {
  margin-top: 6vw;

}
.Certifiedcards {
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}

.Certifiedcardsimage {
  width:100%;
  height: 38vh;
  margin-bottom: 5vw;
}

.CertifiedCard h4 {
  font-size: 5vw;
}

.faqs-container {
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
}

/* Title */
.faq-title {
  margin-bottom: 5vh;
  font-size: 5vw;

}

/* FAQ Items */
.faq-item {
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 13px;
}

.faq-question {
  font-size: 1.1rem;

}

.faq-answer {
  font-size: 4vw;
}

.Checkmates{
  width: 100%;
  height: 45vh;
  margin-top: 11vw;
  display:flex;
  align-items: flex-start;
  justify-content: center;

}

.back{
  display: flex;
  align-items: flex-start;

}

.back h4{
  font-size: 11vw;
  line-height: 12vw;

 }
 .front{
  margin-top: 9vh;

}

.Gitstatus{
  margin-bottom: 12vw;
  width: 100%;

}
.gittop{
  margin-top: 2vw;
  height: 17vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 7vw;
}

.gittop h1{
  font-size: 12vw;
}
.gittop h3{
  font-size: 4.6vw;
}

.gitbottom{

    width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #25520e;
}

.gitbottom img{
  height: 7vh;

}

.contact{
  width: 100%;
  padding: 3vw 2vw;
}
.contactadresss{
  width: 100%;

}

.contactadresss h2{
  font-size: 6vw;

}
.contactadresss h3{
  font-size: 3.1vw;

}

.Footer{
  width: 100%;
  margin-top: 1vw;

}

.Footer h2{
  font-weight: 500;
  font-size: 20vw;

}

}





@media (min-width: 768px) and (max-width: 1024px){
  .Braveresult h2{
    font-family: GeoplaceSC;
    text-transform: uppercase;
    color: white;
    font-size:14vw;
  }
  .Braveresult{
    width: 100%;
  }
  
  .cursor {

    opacity: 0;
  }
  .Loader h1{
    font-size: 6vw;
    }
    .navbar {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 8vh;
      width: 88%;
      position: relative;
      position: fixed;  
      bottom: 0;  /* Places it at the very bottom of the screen */
      left: 50%;
      margin-top:91vh;
      transform: translateX(-50%); /* Centers the navbar horizontally */
      padding: 0 2vw;
        z-index: 999;  /* Ensures the navbar appears on top of other content */
    }

    .bottom {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Gilroy', sans-serif;  /* Added quotes and fallback font */
      gap: 3vw;
      padding: 3vw 1vw;
      box-shadow: 1px 1px 14px rgba(29, 28, 28, 0.5);  /* Added RGBA for transparency */
      border-radius: 4vw;
      width: 96%;
    }

  .bottom h2{
    font-size: 2.8vw;
    font-weight: 500;
    color: #262525;
  }

  .bottom h2::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 5px;
    left: 0;
    bottom: 0;  
    background-color: #ee8d2c;
    transition: width 0.3s ease-in-out; /* Smooth animation */
  }

  .bottom h2:hover::after {
    width: 100%;
  }

  .button2 {
    opacity: 0;
  }

  .Home{
    width: 100%;
    margin-top: -1vw;
    margin-bottom: 12vw;

    }

  .Fronttext{

    width: 100%;

  }
  .Fronttext h1{
    font-size:7vw;
    padding: 4vw 0;
    font-weight: 500;

  }
  .Fronttext h4{
    font-size: 4.3vw;
    text-align: center  ;
    font-weight: 600;

  }

  .Marquee {
    height: 40vh;

  }
  .Marquee h1 {
    font-size: 27vw;

  }
.imageupper {
  height: 100%; 
  width: 54%;   
  position: absolute;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;

}

.Modelview {
  height: 100%;
  width: 100%;
}

model-viewer {
  width: 100%;
  height: 100%;
}

.Client{
  height: 10vh;
  width: 100%;
  margin-top: 1vw;

}

.selectives{
  gap: 1.5vw;

}
.selectives img{
  height: 5.6vh;
}
.selectives h2{
  font-size: 5vw;
  font-weight: 500;
  font-family: 'Satoshi';
 }
 .Button{
  height: 8vh;
  width: 100%;

}

button{
  padding: 3vw 4.2vw;
  font-size: 3.4vw;
}

.Aboutus{
  width: 100%;
  margin-top: 2vw;
  }

.Aboutme{
width: 95%  !important;
margin-bottom: 3vw;
}

.Aboutme h2{
  text-align: center;
  font-size: 8vw !important;
 }

.Aboutme h4{
  font-size: 2.5vh !important;
  text-align: center;

 }

 .AboutClient{
  margin-top: 6vh;
 }

 .AboutClient h4{

  font-size: 4.3vw;
  margin-bottom: 2vw;
  text-transform: uppercase;
  font-weight: 500;
  }

 .AboutClients img{

  height: 9vh;
  margin: 2vw 0;
  margin-bottom: 4vw;

 }

 .AboutClients h3{
  font-size: 5vw;

 }
 .AboutClients h5{

  font-size: 6vw;

 }

 .AboutClients h6{

  font-size: 4vw;
  font-family:'Satoshi' ;

 }

 .Impactfulldesign {
  margin-top: 9vh;
  line-height: 27vw;

}
.mans {
  height: 65vh;
  width: 100%;
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.text-content h2,
.text-content h1 {
  font-size: 37vw;
}

.myskills{
  margin-top: 11vh;
  width: 100%;
  margin-bottom: 8vh;
}

.myskills h1{
  font-size: 9vw;
  font-weight: 500;

}

.skill-item {
  width: 9vh;
  height: 9vh;
}

.Ourservices{
  width: 100%;
  margin-top: 12vh;
  height: 100%;
  background-color: #689D48;
  position: relative;

}

.ourservicestop h2{ 
 font-size:13vw;
 line-height: 13vw;

}

.faqs-container {
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
}

/* Title */
.faq-title {
  margin-bottom: 5vh;
  font-size: 5vw;

}

/* FAQ Items */
.faq-item {
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 13px;
}

.faq-question {
  font-size: 3vw;

}

.faq-answer {
  font-size: 3vw;
}

.ourservicesbottom{
  width: 100%;
  margin-top: -2vw;
}

.ourserivesimagepart{
  width:100%;

}

.ourserivesimagepart .images{
  height: 55vh;
  width: 100%;
  padding: 2vw 10vw;

}

.ourserivesimagepart .images img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

}

.ourservicesfaqs{
  width: 100%;
  margin: 0 auto;
}

 .WorkCollection{
  width: 100%;
  margin-bottom: 2vw;

}

.WorkCollection h2{
  font-size: 6vw;
  margin: 3vw 0;

}

.WorkCollection h5{
  font-size: 3vw;

}

.projectarea{
  height:70vh;
  width: 100%;
}


.backtextarea h2{

  font-size: 19vw;
    
  }
  
  
  .cardscollection{
    min-width: 59vw;
    height: 59vh;
     width:40vw,
    
  
  
  }
  .information{
    height:43vh;
    width: 100%;
    gap: 14vw;
  
  }
  
  .information h2{
  font-family: actay;
  font-size: 2.7vh;
  color: whitesmoke;
  }
  
  .informationdesc p{
    font-family: actay;
    font-size: 2.1vh;
    font-weight: 400;
    color: whitesmoke;
  
  }



  .CertifiedCard {
    margin-top: 1vw;

  }

.CertifiedCard h2{
  font-size: 3vw;

}

.CertifiedCard {
  margin-top: 6vw;

}

.Certifiedcardsimage {
  width:100%;
  height: 44vh;
  margin-bottom: 1vw;
}

.faqs-container {
  max-width: 100%;
  margin: 40px auto;
  padding: 20px;
}

.faq-title {
  margin-bottom: 5vh;
  font-size: 2.9vw;

}

.faq-question {
  font-size: 1.5rem;

}

/* Answer Section */
.faq-answer {
  font-size: 1.7vw;

}

.Gitstatus{
  width: 100%;
  margin-bottom: 1vw;
  margin-top: 1vw;
}

.gittop{
  height: 24vh;
  width: 100%;
  margin-bottom: 2vw;
}

.gittop h1{
  font-size: 5vw;
}
.gittop h3{
  font-size: 2.5vw;
}

.gitbottom{

    width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #25520e;
}

.gitbottom img{
  height: 21vh;

}

.Checkmates{
  height: 64vh;
  width: 100%;

}

.back{
  height: 44vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}
.front{
  position: absolute;
  z-index: 999;
  width: 100%;
  
  margin-top: 35vh;

}

.fronttop h5 {
  font-size: 1.1vw;

}
.contact{
  width: 100%;
  padding: 3vw 2vw;

}
.contactadresss{
  width: 100%;

}

.contactadresss h2{
  font-size: 7vw;

}
.contactadresss h3{
  font-size: 2.2vw;

}
.Footer{
  width: 100%;
  margin-top: 1vw;

}

.Footer h2{
  font-family:Queen ;
  font-weight: 500;
  font-size: 20vw;
  color: #242627;

}

.contactadresss h2{
  font-size: 4.5vw;

}
.contactadresss h3{
  font-size: 2.1vw;

}

}



@media (min-width: 1025px) and (max-width: 1280px){
  .Braveresult{
    width: 100%;
    padding: 2vw 0;
  }

  .Braveresult h2{
    font-family: GeoplaceSC;
    text-transform: uppercase;
    color: white;
    font-size:12vw;
  }
  
  .cursor {
    height: 3.7vh;
    width: 2vw;
  }
  
  .Loader h1{
    font-size: 5vw;
    }
  
    .navbar {
      height:6vh;
      width: 93%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      top: 0; 
      left: 50%; 
      transform: translateX(-50%);
      z-index: 999999;
      margin-top: 1.3vw;
    
    }
    
  
    .bottom {
      background-color: #f7f4f3;
      height: 100%;
      width: 48%;
    }
    .bottom h2 {
      font-size: 1.3vw;
      font-weight: 500;
      color: #262525;
      position: relative;  
      padding-bottom: 5px;
    }
  
  

    #btnheader {
      padding: 2.2vh 2.2vw;
      font-size: 1.2vw;
      outline: none;
      border: none;
      font-family: actay;
      border-radius: 10px;
      transition: 0.5s;
      background: #1e1e1e;
      cursor: pointer;
      color: whitesmoke;
      box-shadow: 0 0 10px #363636, inset 0 0 10px #363636;
    }
    
  
  .Home{
    width: 100%;
     
    }
    
    .Fronttext{
      height: 20vh;
      width: 100%;
    
    }
    .Fronttext h1{
      font-size: 4.5vw;
      padding: 1.1vw 0;
  
    }
    .Fronttext h4{
      font-size: 2.5vw;
    
    
    }
    
    .Marquee {
      height: 50vh;
    
    }
    .Marquee h1 {
      font-size: 17vw;
    
    }
  .imageupper {
    height: 100%; 
    width: 40%;   
    position: absolute;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
  
  }
  
  .Modelview {
    height: 100%;
    width: 100%;
  }
  
  model-viewer {
    width: 100%;
    height: 100%;
  }
  
  .Client{
    height: 10vh;
    width: 100%;
    margin-top: 3vw;
    
  }
  
  .selectives{
    gap: 0.5vw;
    
  }
  .selectives img{
    height: 6vh;
  }
  .selectives h2{
    font-size: 2.5vw;
   }
   .Button{
    height: 10vh;
    width: 100%;
    
  }
  
  button{
    padding: 2vw 3vw;
    font-size: 1.3vw;
  }
  
  
  .Aboutus{
    width: 100%;
    margin-top: 1vw;
    }
  
    
  .Aboutme{
    width: 95%  !important;
    margin-bottom: 4vw;
    }
    
    .Aboutme h2{
      font-size: 3.7vw !important;
     }
     
    .Aboutme h4{
      font-size: 3vh !important;
    
     }
     
   .AboutClient{
    margin-top: 6vh;
   }
   
   .AboutClient h4{
  
    font-size: 3vw;
    margin-bottom: 1vw;
    }
    
   .AboutClients img{
  
    height: 19vh;
    margin: 2vw 0;
    margin-bottom: 2vw;
  
   }
   
   .AboutClients h3{
    font-size: 3vw;
  
  
    
   }
   .AboutClients h5{
    
    font-size: 2.9vw;
    
   }
   
   .AboutClients h6{
    
    font-size: 2vw;
  
    
   }
   
   .Impactfulldesign {
    margin-top: 9vh;
    line-height: 24vw;
    
  }
  
  .text-content h2,
  .text-content h1 {
    font-size: 33vw;
  }
  
  .myskills{
    margin-top: 13vh;
    width: 100%;
  }
  
  .myskills h1{
    font-size: 3.5vw;
    font-weight: 500;
  
  }
  
  .skill-item {
    width: 13vh;
    height: 13vh;
  }
  
  
  
  
  
  .Ourservices{
    width: 100%;
    margin-top: 8vh;
    height: 100%;
    background-color: #689D48;
    position: relative;
  
  
  }
  
  .ourservicestop{
    width: 100%;
    padding: 0 1vw;
  
  }
  .ourservicestop h2{ 
    font-family: 'Impacted';
   font-weight: 500;
   font-size:13vw;
   line-height: 13.5vw;
   text-align: center;
   text-transform: uppercase;
   color: white;
  
  }
  
  .ourservicesbottom{
    width: 100%;
    margin-top: -2vw;
  }
  
  .ourserivesimagepart{
    height: 100%;
    width:100%;
    background-color: #e0e05f;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid black;
  
  }
  .ourserivesimagepart .images{
    height: 155vh;
    width: 100%;
    margin-top: -10vw;
  
   
  }
  .ourserivesimagepart .images img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
   
  }
  
     .mans {
  height: 99vh;
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
  
     .WorkCollection{
      width: 100%;
      margin-bottom: 2vw;
      padding: 0 3vw;
    }
    .WorkCollection h2{
      font-size: 3vw;
      margin: 2vw 0;
    
    }
    
    .WorkCollection h5{
      font-size: 2vw;
    
    }
  
  
    
  .Card {
    width: 100%;
  
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 7vw; 
    width: 100%;
  
  }
  
  .image {
    width:100%;
    height: 54vh;
    }
  
    .cards h4 {
      font-size: 1.7vw;
      padding: 1vw 0;
      font-weight: 500;
    }
  
    .CertifiedCard {
      margin-top: 6vw;
    
    }
    
  .CertifiedCard h2{
    font-size: 3vw;
  
  }
  
  .CertifiedCard {
    margin-top: 6vw;
  
  }
  
  .Certifiedcardsimage {
    width:100%;
    height: 63vh;
    margin-bottom: 5vw;
  }
  
  .faqs-container {
    max-width: 100%;
    margin: 40px auto;
    padding: 20px;
  }
  
  .faq-title {
    margin-bottom: 5vh;
    font-size: 2.9vw;
    
  }
  
  .faq-question {
    font-size: 1.5rem;
  
  
  }
  
  /* Answer Section */
  .faq-answer {
    font-size: 1.7vw;
  
  }
  
  
  .Gitstatus{
    width: 100%;
    margin-bottom: 1vw;
    margin-top: 1vw;
  }
  
  
  .gittop{
    height: 24vh;
    width: 100%;
    margin-bottom: 2vw;
  }
  
  
  .gittop h1{
    font-size: 5vw;
  }
  .gittop h3{
    font-size: 2.5vw;
  }
  
  
  
  .gitbottom{
    
      width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #25520e;
  }
  
  .gitbottom img{
    height: 21vh;
    
  
  }


  .backtextarea h2{
    font-size: 17vw;
    
      
    }

    .cardscollection{

      min-width: 27vw;
   
      height: 63vh;

       width:27vw,
      
    
    
    }
  
    
.information h2{
  font-size: 1.3vw;
  
  }

  
  .informationdesc p{
    font-size: 2.2vh;
  
  }
  
  .Checkmates{
    height: 100vh;
    width: 100%;
  
  }
  
  .back{
    height: 85vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .front{
    position: absolute;
    z-index: 999;
    width: 100%;
    margin-top: 35vh;
  
  }
  
  
  .fronttop h5 {
    font-size: 1.1vw;
  
  }
  .contact{
    width: 100%;
    padding: 3vw 2vw;
    
  }
  .contactadresss{
    width: 100%;
  
  
  
  }
  
  
  .contactadresss h2{
    font-size: 7vw;
  
  
  }
  .contactadresss h3{
    font-size: 2.2vw;
  
  }
  .Footer{
    width: 100%;
    margin-top: 1vw;
  
  }
  
  .Footer h2{
    font-family:Queen ;
    font-weight: 500;
    font-size: 20vw;
    color: #242627;
    
  }
  
  
  
  .contactadresss h2{
    font-size: 4.5vw;
  
  
  }
  .contactadresss h3{
    font-size: 2.1vw;
  
  }
  
  
  
  
  }

